<!-- begin post -->
{% for post in site.posts %}
    <!-- check for Events-->
    {% for category in post.categories %}
    {% if category == "Takeaways" %}
        <div class="eventbox">
        {{ post.date | date_to_string }} <br>
        {% if post.image %} <!-- img class="rounded mb-4" src="{{ site.baseurl }}/{{ post.image }}" alt="{  { post.title }}" --> {% endif %}
        <strong><a href="{{ post.external_url }}" target="_blanl">{{ post.title }}</a></strong>
        </div>
    {% endif %}
    {% endfor %}
    <!-- end of check for Events-->
{% endfor %}
<!-- end post -->
